[Desktop Entry]
Type=Application
Version=1.0
Name=Chordcat
GenericName=Chord Naming Application
GenericName[ca]=Aplicació de nomenclatura d'acords
GenericName[da]=Akkordnavneanvendelse
GenericName[de]=Akkordnamen-Anwendung
GenericName[en_GB]=Chord Naming Application
GenericName[es]=Aplicación de nomenclatura de acordes
GenericName[fi]=Soinnunimien sovellus
GenericName[fr]=Application de nommage d'accords
GenericName[gl]=Aplicación de nomeclatura de acordes
GenericName[it]=Applicazione di denominazione degli accordi
GenericName[ko]=코드 명명 어플리케이션
GenericName[nb]=Akkordnavnanvendelse
GenericName[nl]=Toepassing voor akkoordbenaming
GenericName[nn]=Akkordnamnanvendelse
GenericName[pl]=Aplikacja do nazewnictwa akordów
GenericName[pt]=Aplicativo de Nomeação de Acordes
GenericName[pt_BR]=Aplicativo de Nomeação de Acordes
GenericName[ru]=Приложение для названия аккордов
GenericName[sk]=Aplikácia na pomenovanie akordov
GenericName[sl]=Aplikacija za imenovanje akordov
GenericName[sr@ijekavian]=Aplikacija za imenovanje akorda
GenericName[sr@ijekavianlatin]=Aplikacija za imenovanje akorda
GenericName[sr@latin]=Aplikacija za imenovanje akorda
GenericName[sr]=Aplikacija za imenovanje akorda
GenericName[sv]=Applikation för ackordbenämning
GenericName[tr]=Akor Adlandırma Uygulaması
GenericName[uk]=Додаток для назви акордів
GenericName[zh_CN]=弦名应用
GenericName[zh_TW]=和弦命名應用
Comment=Chord Naming Application with MIDI support
Comment[ca]=Aplicació de nomenclatura d'acords amb suport MIDI
Comment[da]=Akkordnavneanvendelse med MIDI-understøttelse
Comment[de]=Akkordnamen-Anwendung mit MIDI-Unterstützung
Comment[en_GB]=Chord Naming Application with MIDI support
Comment[es]=Aplicación de nomenclatura de acordes con soporte MIDI
Comment[fi]=Soinnunimien sovellus MIDI-tuella
Comment[fr]=Application de nommage d'accords avec support MIDI
Comment[gl]=Aplicación de nomeclatura de acordes con soporte MIDI
Comment[it]=Applicazione di denominazione degli accordi con supporto MIDI
Comment[ko]=코드 명명 어플리케이션 MIDI 지원
Comment[nb]=Akkordnavnanvendelse med MIDI-støtte
Comment[nl]=Toepassing voor akkoordbenaming met MIDI-ondersteuning
Comment[nn]=Akkordnamnanvendelse med MIDI-støtte
Comment[pl]=Aplikacja do nazewnictwa akordów z obsługą MIDI
Comment[pt]=Aplicativo de Nomeação de Acordes com suporte MIDI
Comment[pt_BR]=Aplicativo de Nomeação de Acordes com suporte MIDI
Comment[ru]=Приложение для названия аккордов с поддержкой MIDI
Comment[sk]=Aplikácia na pomenovanie akordov s podporou MIDI
Comment[sl]=Aplikacija za imenovanje akordov s podporo MIDI
Comment[sr@ijekavian]=Aplikacija za imenovanje akorda sa podrškom za MIDI
Comment[sr@ijekavianlatin]=Aplikacija za imenovanje akorda sa podrškom za MIDI
Comment[sr@latin]=Aplikacija za imenovanje akorda sa podrškom za MIDI
Comment[sr]=Aplikacija za imenovanje akorda sa podrškom za MIDI
Comment[sv]=Applikation för ackordbenämning med MIDI-stöd
Comment[tr]=Akor Adlandırma Uygulaması MIDI desteği ile
Comment[uk]=Додаток для назви акордів з підтримкою MIDI
Comment[zh_CN]=带有MIDI支持的弦名应用
Comment[zh_TW]=具有MIDI支援的和弦命名應用
Icon=chordcat
Exec=chordcat
Categories=Education;Music;Audio;AudioVideo;
Keywords=music;notes;midi;
